// IMAGES, FONTS& WHATEVER I DON'T KNOW WHAT TO DO WITH GOES IN HERE
  // MARGIN, PADDING, BORDERS, COLORS

* {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 1em;
  margin: 0;
}

body {
  overflow: auto;
  margin: 5px;
}


// NAV CONTAINER
.menu-icon {
  height: 30px;
  width: 30px;
}

h1 {
  font-size: .5em;
}


// MAIN CONTAINER
.main-section {
  background-image: url('https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=564&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-section {
  border-radius: $radius;
  background-color: #A6F5EE;
  filter: $drop-shadow;

  .main-title {
    width: 100%;
  
    h3 {
      font-size: 1.45em;
      text-align: center;
      padding: 3px;
      margin: 5px;
    }
  
    p {
      font-size: 1.25em;
      padding: 3px;
    }
  }

  .main-content {
    border-radius: $radius;
    background-color: #ffffff;
    filter: $drop-shadow;
    font-size: smaller;
  }
}


// TRIP REQUEST FORM




// TRIP PRICE CONTAINER
.trip-price-container {
  background-color: #A6F5EE;
  border-radius: $radius;
  filter: $drop-shadow;
  text-align: center;
}

// #8DFBD1

// TRIPS CONTAINER
h4 {
  // color: #5292B4;
  color: #315B72;
  font-size: 1.15em;
  border-bottom: 1px solid #5292B4;
  width: 90vw;
}


// CURRENT TRIP DETAILS
// PENDING TRIPS
// UPCOMING TRIPS

// PAST TRIPS
.travel-photos {
  height: 35vh;
  width: 100%;;
}




.hidden {
  display: none;
}