// IMAGES, FONTS& WHATEVER I DON'T KNOW WHAT TO DO WITH GOES IN HERE
  // MARGIN, PADDING, BORDERS, COLORS

* {
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 1em;
  margin: 0;
}

body {
  overflow: auto;
  margin: 5px;
}


// NAV CONTAINER
.menu-icon {
  height: 30px;
  width: 30px;
}

h2 {
  font-size: .5em;
}


// MAIN CONTAINER
.main-section {
  border-radius: $radius;
  background-color: #A6F5EE;
  filter: $drop-shadow;
  // background-image: url('./images/resul-mentes-DbwYNr8RPbg-unsplash.jpg');
  // background-position: top;
  // background-size: contain;

  .main-content {
    border-radius: $radius;
    background-color: #ffffff;
    filter: $drop-shadow;
  }
}

.main-title {
  width: 100%;

  h3 {
    font-size: larger;
  }
}

// TRIP REQUEST FORM

// TRIP PRICE CONTAINER
.trip-price-container {
  background-color: #A6F5EE;
  border-radius: $radius;
  filter: $drop-shadow;
  text-align: center;
}

// TRIPS CONTAINER
.image-1 {
  height: 200px;
  width: 200px;
}

.next-icon {
  height: 30px;
  width: 30px;
}

// CURRENT TRIP DETAILS
// PENDING TRIPS
// UPCOMING TRIPS

// PAST TRIPS
.travel-photos {
  height: 30vh;
  width: auto;
}








.hidden {
  display: none;
}