// BUTTONS/ WIDGET STYLES GO IN HERE

// TRIP REQUEST FORM
.btns {
  width: 40vw;
  margin: 5px;
  align-self: center;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: .25em;
  text-transform: uppercase;
  
  &:hover {
    background-color: #5292B4;
    color: #ffffff;
    cursor: pointer;
  }
}

.btns {
  @media (min-width: 768px) {
    width: 25vw;
  }
}


// TRIANGLE HEADER
// ON LOGIN PAGE
.custom-shape-divider-top-1628566746-login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 0;
}

.custom-shape-divider-top-1628566746-login svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50vh;
  margin-top: -80px;
}

.custom-shape-divider-top-1628566746-login 
.shape-fill {
  fill: #5E779647;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1628566746-login svg {
    width: calc(100% + 1.3px);
    height: 40vh;
    margin-top: 0px;
  }
}

@media (min-width: 768px) {
  .custom-shape-divider-top-1628566746-login svg {
    width: calc(100% + 1.3px);
    height: 57vh;
    margin-top: -4px;
  }
}


// ON MAIN PAGE
.custom-shape-divider-top-1628566746 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 0;
}

.custom-shape-divider-top-1628566746 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50vh;
  margin-top: -90px;
}

.custom-shape-divider-top-1628566746 .shape-fill {
  fill: #5E779647;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1628566746 svg {
    width: calc(100% + 1.3px);
    height: 40vh;
    margin-top: -75px;
  }
}
