// LAYOUT STYLES GO IN HERE, HEIGHT & WIDTH
// @import "node_modules/@glidejs/glide/src/assets/sass/glide.core";


// NAV CONTAINER
.nav-container {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  
  div {
    @include center-items(flex-end);
  }
}


// LOGIN PAGE
.login-section {
  height: 55vh;
  width: 80vw;
  margin: 10vh auto;
  @include center-items(center);
  justify-content: space-evenly;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 20vh;
}



// MAIN CONTAINER
.main-container {
  height: 60vh;
  margin: 2vh 0 15vh;
  @include center-items(center);
}

.main-section {
  height: 55vh;
  width: 80vw;
  margin: auto;
  @include center-items(center);
  justify-content: space-around;

  .main-title {
    @include center-items(center);
  }

  .main-content {
    height: 45vh;
    width: 70vw;
    margin-bottom: -80px;
    @include center-items(center);
    justify-content: space-evenly;
  }
}


// TRIP REQUEST FORM
.trip-request-form {
  display: flex;
  flex-direction: column;
  // @include center-items(flex-start);
}


// TRIP PRICE CONTAINER
.trip-price-container {
  height: fit-content;
  width: 75vw;
  padding: 10px;
  margin: auto;
  @include center-items(center);
}

// .trip-price-request-msg{

// }


// TRIPS CONTAINER
.trips-container {
  height: 280vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  div {
    height: 60vh;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

    article {
      overflow: scroll;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
    }
}



// CURRENT TRIP DETAILS

// PENDING TRIPS

// UPCOMING TRIPS
// .glide-container {
//   @include center-items(center);
// }

// .glide {
//   align-items: center;
// }

// PAST TRIPS