// LAYOUT STYLES GO IN HERE, HEIGHT & WIDTH



// NAV CONTAINER
.nav-container {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  @media (min-width: 605px) {
    height: 12vh;
    font-size: larger;
  }

  div {
    @include center-items(flex-end);
  }
}



// LOGIN PAGE
.login-section {
  height: 55vh;
  width: 80vw;
  margin: 10vh auto;
  @include center-items(center);
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;
}



// MAIN CONTAINER
.main-container {
  height: 60vh;
  margin: 2vh 0 15vh;
  position: relative;
  @include center-items(center);

  @media (min-width: 605px) {
    height: 67vh;
  }
}

.main-section {
  height: 60vh;
  width: 85vw;
  margin: auto;
  @include center-items(center);
  justify-content: space-around;

  .main-title {
    @include center-items(center);
  }

  .main-content {
    height: 45vh;
    width: 70vw;
    margin-bottom: -80px;
    @include center-items(center);
    justify-content: space-evenly;

    @media (min-width: 605px) { 
      height: 35vh;
    }
  }
}



// TRIP REQUEST FORM
.trip-request-form {
  display: flex;
  flex-direction: column;

  @media (min-width: 605px) { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    height: 16vh;
  }
}

.formLabel {
  @media (min-width: 605px) {
    padding: 0px 5px 0px 10px;
  }
}



// TRIP PRICE CONTAINER
.trip-price-container {
  height: fit-content;
  width: 75vw;
  padding: 10px;
  margin: auto;

  @include center-items(center);
}



// TRIPS CONTAINER
.trips-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  @media (min-width: 605px) { 
    width: auto;
    // justify-content: none;
    // align-items: none;
  }
    
    div {
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      @media (min-width: 605px) {
        align-items: flex-start;
        // width: 100vw;
      }
    }
}

.trips {
  // overflow-y: scroll;
  // overflow-x: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  @include for-laptop(); 

  @media (min-width: 605px) {
    width: 100vw;
  }
}

.yes-trip-wrapper {
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.no-trip-wrapper {
  height: 10vh;
}

.destination-cards {
  border-radius: $radius;
  background-color: #5E779647;

  @media (min-width: 605px) {
    display: flex;
    align-items: center;
  }
}

.destination-cards {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;

  &:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

h5, h6 {
  @media (min-width: 605px) {
    align-self: center;
  }
}


