// LAYOUT STYLES GO IN HERE, HEIGHT & WIDTH
// @import "node_modules/@glidejs/glide/src/assets/sass/glide.core";


// NAV CONTAINER
.nav-container {
  height: 60px;
  display: flex;
  justify-content: space-between;
}

div {
  @include center-items(flex-end);
}




// MAIN CONTAINER
.main-container {
  height: 60vh;
  margin-bottom: 10vh;
  @include center-items(center);
}

.main-section {
  height: 55vh;
  width: 80vw;
  margin: auto;
  @include center-items(center);
  justify-content: space-around;

  .main-title {
    @include center-items(center);
  }

  .main-content {
    height: 40vh;
    width: 65vw;
    margin-bottom: -80px;
    @include center-items(center);
    justify-content: space-evenly;
  }
}

.trip-request-form {
  @include center-items(flex-start);
}


// TRIPS CONTAINER
.trips-container {
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  article {
    height: 50vh;
    margin: 10px;
    overflow:scroll;
  }
}

// CURRENT TRIP DETAILS
// PENDING TRIPS

// UPCOMING TRIPS
// .glide-container {
//   @include center-items(center);
// }

// .glide {
//   align-items: center;
// }

// PAST TRIPS